<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jzs.brawl.demo"
    android:versionCode="69230"
    android:versionName="69.230">

    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="35" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="org.jzs.brawl.demo.JzsDemoApplication"
        android:label="JZS Overlay Test"
        android:hardwareAccelerated="true">

        <activity
            android:name="org.jzs.brawl.demo.JzsDemoActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
