<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nyakacord">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".core.NYakaCordApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="NYakaCord"
        android:supportsRtl="true"
        android:theme="@style/Theme.NYakaCord">

        <activity
            android:name=".ui.SettingsActivity"
            android:exported="true"
            android:label="NYakaCord Settings"
            android:theme="@style/Theme.NYakaCord">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
